Package: com.subdiox.sudo
Name: sudo
Version: 1.0.1
Architecture: iphoneos-arm
Description: sudo command, electra jailbreak supported
Maintainer: subdiox
Author: subdiox
Section: System
Tag: role::hacker
